@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



/* ------ Header Stylling -------- */
        /* -------------- */

/* -------- Navigation Styling -------- */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

/* -------- Logo & Toggle Styling -------- */
.logo{
    color: #000;
    font-size: 28px;
}

.logo span{
    color: red;
    font-size: 28px;
}

#m-bar{
    display: none;
    font-size: 20px;
}

/* --------- List Styling -------- */
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #1D9DF2;
    transition: .3s;
}

