

@media only screen and (max-width: 900px) {
    #btn{
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .nav-bar{
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, .4);
    }

    #menu-links ul li{
        display: block;
        margin: 25px 0;
    }

    #btn{
        display: block;
    }

    #m-bar{
        display: block;
    }

    .hidden{
        display: none !important;
    }

    .not-hidden{
        display: block !important;
    }
}